<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

	<link type="text/css" rel="stylesheet" href="libs/onsenUI/css/onsenui.min.css">
	<link type="text/css" rel="stylesheet" href="libs/onsenUI/css/onsen-css-components.min.css">
	<!--STYLES-->
	<link type="text/css" rel="stylesheet" href="css/home.css">

</head>
<body>	
	<template id="home">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Inicio</div>
			</v-ons-toolbar>

			<ons-row>
				<ons-col>
					<v-ons-carousel swipeable auto-scroll overscrollable>
						<v-ons-carousel-item v-for="nota in noticias.slider">
							<v-ons-card class="noticia-slider">
								<img  :src="nota.img | icdn([400,300,95,95])" :alt="nota.title" style="width: 100%">
								<!--<div class="title">{{ nota.title | html }}</div>-->
								<div class="title">
									<v-title tag="h2" v-bind:color="nota.categories[0][1]" v-bind:metadata="nota.metadata" v-bind:url="nota.url" colorText="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content">
									<p>
										{{ nota.excerpt | html }}
									</p>
								</div>
							</v-ons-card>
						</v-ons-carousel-item>
					</v-ons-carousel>
				</ons-col>
			</ons-row><!--SLIDER-->

			<ons-row>
				<ons-col>
					<v-ons-list>
						<v-ons-list-item tappable v-for="nota in noticias.visualB" class="noticia-visual-b">
						<div class="left">
							<img class="list-item__thumbnail" :src="nota.img | icdn([300,200,95,95])">
						</div>
						<div class="center">
							<span class="list-item__title">
								<v-title tag="h3" v-bind:color="nota.categories[0][1]" v-bind:metadata="nota.metadata" v-bind:url="nota.url" colorText="negro">{{ nota.title | html }}</v-title>
							</span>
						</div>
						</v-ons-list-item>
					</v-ons-list>
				</ons-col>
			</ons-row><!--VISUAL B-->

			<ons-row>
				<ons-col width="100">
					<v-ons-card class="noticia-visual-a" v-if="noticias.visualA.length > 0">
						<img  :src="noticias.visualA[0].img | icdn([300,250,95,95])" :alt="noticias.visualA[0].title" style="width: 100%">
						<!--<div class="title">{{ nota.title | html }}</div>-->
						<div class="title">
							<v-title tag="h2" v-bind:color="noticias.visualA[0].categories[0][1]" v-bind:metadata="noticias.visualA[0].metadata" v-bind:url="noticias.visualA[0].url" colorText="negro">{{ noticias.visualA[0].title | html }}</v-title>
						</div>
						<div class="content">
							<p>
								{{ noticias.visualA[0].excerpt | html }}
							</p>
						</div>
					</v-ons-card>
				</ons-col>
				<ons-col width="50" v-for="nota in noticias.visualA.slice(1)">
					<v-ons-card class="noticia-visual-a-mediana">
						<img  :src="nota.img | icdn([300,200,95,95])" :alt="nota.title" style="width: 100%">
						<!--<div class="title">{{ nota.title | html }}</div>-->
						<div class="title">
							<v-title tag="h3" v-bind:color="nota.categories[0][1]" v-bind:metadata="nota.metadata" v-bind:url="nota.url" colorText="negro">{{ nota.title | html }}</v-title>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row><!--VISUAL A-->

			<ons-row>
				<ons-col>
					<v-ons-list>
						<v-ons-list-item tappable v-for="nota in noticias.visualC">
							<v-title tag="h3" v-bind:color="nota.categories[0][1]" v-bind:metadata="nota.metadata" v-bind:url="nota.url" colorText="negro">{{ nota.title | html }}</v-title>
						</v-ons-list-item>
					</v-ons-list>
				</ons-col>
			</ons-row><!--VISUAL C-->
		</v-ons-page>
	</template>

	<template id="ultimas">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button  onclick="_splitter.toggle();">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Últimas</div>
			</v-ons-toolbar>
			<p style="text-align: center">Ultimas noticias aquí</p>
		</v-ons-page>
	</template>

	<template id="masLeidas">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button  onclick="_splitter.toggle();">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Más leídas</div>
			</v-ons-toolbar>
			<p style="text-align: center">Más Leídas aqui</p>
		</v-ons-page>
	</template>

	<div id="app">
		<v-ons-splitter>
			<v-ons-splitter-side swipeable width="150px" collapse="" side="left"  id="_splitter">
				<v-ons-page>
					<v-ons-list>
						<v-ons-list-item v-for="page in pages" tappable modifier="chevron" @click="currentPage = page.template; openSide = false">
							<div class="center">{{ page.title }}</div>
						</v-ons-list-item>
					</v-ons-list>
				</v-ons-page>
			</v-ons-splitter-side>

			<v-ons-splitter-content>
				<component :is="currentPage"></component>
			</v-ons-splitter-content>
		</v-ons-splitter>
	</div>

	<script type="text/javascript" src="libs/vue.min.js"></script>
	<script type="text/javascript" src="libs/vue-resource.min.js"></script>
	<script type="text/javascript"  src="libs/onsenUI/js/onsenui.min.js"></script>
	<script type="text/javascript"  src="libs/vue-onsenui.min.js"></script>

	<!--FILTERS-->
	<script type="text/javascript"  src="js/filters/html.filter.js"></script>
	<script type="text/javascript"  src="js/filters/icdn.filter.js"></script>

	<!--SERVICES-->
	<script type="text/javascript"  src="js/services/home.service.js"></script>

	<!--DIRECTIVES-->
	<script type="text/javascript"  src="js/directives/title.directive.js"></script>

	<!--COMPONENTS-->
	<script type="text/javascript"  src="js/components/home.component.js"></script>
	<script type="text/javascript"  src="js/components/ultimas.component.js"></script>
	<script type="text/javascript"  src="js/components/masLeidas.component.js"></script>

	<script type="text/javascript">
		Vue.use(VueResource); // HAY QUE DECIRLE A VUE QUE UTILICE ESTE PLUGIN PARA LOS REQUEST
		var app = new Vue({
			el: "#app",
			data: {
				currentPage: "home",
				pages: [{
					title: "Inicio",
					template: "home"
				}, {
					title: "Últimas",
					template: "ultimas"
				}, { 
					title: "Más Leídas",
					template: "masLeidas"
				}],
				openSide: false
			},
			components: {
				home: _homePage,
				ultimas: _ultimasPage,
				masLeidas: _masLeidasPage
			}
		});
	</script>
</body>
</html>
