.color-blanco{
	color: #ffffff !important;
}

.fondo-deportes{
	background-color: #034673 !important;
}
.color-deportes{
	color:  #034673 !important;
}
.border-deportes{
	border-color: #034673 !important;
}

.fondo-nacionales{
	background-color: #ed1b24 !important;
}
.color-nacionales{
	color:  #ed1b24 !important;
}
.border-nacionales{
	border-color: #ed1b24 !important;
}

.fondo-tecnologia{
	background-color: #0388a6 !important;
}
.color-tecnologia{
	color:  #0388a6 !important;
}
.border-tecnologia{
	border-color: #0388a6 !important;
}

.fondo-ambiente{
	background-color: #2bb673 !important;
}
.color-ambiente{
	color:  #2bb673 !important;
}
.border-ambiente{
	border-color: #2bb673 !important;
}

.fondo-economia{
	background-color: #0f6635 !important;
}
.color-economia{
	color:  #0f6635 !important;
}
.border-economia{
	border-color: #0f6635 !important;
}

.fondo-entretenimiento{
	background-color: #b82364 !important;
}
.color-entretenimiento{
	color:  #b82364 !important;
}
.border-entretenimiento{
	border-color: #b82364 !important;
}

.fondo-mundo{
	background-color: #402198 !important;
}
.color-mundo{
	color:  #402198 !important;
}
.border-mundo{
	border-color: #402198 !important;
}

.fondo-salud{
	background-color: #59b6b3 !important;
}
.color-salud{
	color:  #59b6b3 !important;
}
.border-salud{
	border-color: #59b6b3 !important;
}

.fondo-humor{
	background-color: #f24606 !important;
}
.color-humor{
	color:  #f24606 !important;
}
.border-humor{
	border-color: #f24606 !important;
}

.fondo-opinion{
	background-color: #ff9919 !important;
}
.color-opinion{
	color:  #ff9919 !important;
}
.border-opinion{
	border-color: #ff9919 !important;
}

.fondo-estilo-de-vida{
	background-color: #d3ac2b !important;
}
.color-estilo-de-vida{
	color:  #d3ac2b !important;
}
.border-estilo-de-vida{
	border-color: #d3ac2b !important;
}

.fondo-desarrollo-inmobiliario{
	background-color: #3b7b25 !important;
}
.color-desarrollo-inmobiliario{
	color:  #3b7b25 !important;
}
.border-desarrollo-inmobiliario{
	border-color: #3b7b25 !important;
}

.fondo-foto-del-dia{
	background-color: #80ab5b !important;
}
.color-foto-del-dia{
	color:  #80ab5b !important;
}
.border-foto-del-dia{
	border-color: #80ab5b !important;
}

.fondo-frase-dia{
	background-color: #E57373 !important;
}
.color-frase-dia{
	color:  #E57373 !important;
}
.border-frase-dia{
	border-color: #E57373 !important;
}